.navigation {
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #4CAF50;;
    box-shadow: 0 4px 4px -3px #232323;
    -moz-box-shadow: 0 4px 4px -3px #232323;
    -webkit-box-shadow: 0 4px 4px -3px #232323;
    padding-top: 10px;
    font-family: "Lato", sans-serif;
    position: fixed;
}

.navigation a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: white;

}

a:hover {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: white;

}

p {
    text-align: justify;
}

.block {
    display: block;
    color:white;
    width: 100%;
    border: none;
    background-color: #4CAF50;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}
