{% extends 'base.html' %}
{% block content%}
{{block.super}}

<html>

<body style="background-color:rgb(228, 228, 228);">
    <div class="container-fluid" style="margin-top:48px;background-image:url(/static/images/Neighbourhood-Plan-1200-x-400.gif);height:45vh;">
        <div style="float: right; color: rgb(240, 5, 103);font-family: 'Charmonman', cursive;">
            <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'search_results' %}">
                <input type="text" class="form-control my-2 my-sm-0 search-input" name="search" placeholder="Search.."
                    id="search">
            </form>
        </div>
        <img class="img-fluid" src="/static/images/navbar/NW-O-medium.png" alt="">
        <strong class="text2">Neighborhood Watch</strong>
    </div>
    <div class="container-fluid" style="padding-top:30px;">
        <div style="margin-left:5%; margin-right:5%;">
            <div class="row" style="padding-top:15px; font-family: 'Raleway', sans-serif;">
                {% for hood in hoods %}
                <div class="col-md-3" style="margin-bottom:10px;">
                    <div class="card" style="background-color:white;">
                        <div class="card-header">
                            <h6> <strong>{{hood.name.capitalize}}</strong></h6>
                        </div>
                        <div class="card-body" style="width: auto">
                            <img src="{{hood.image}}" alt="">
                            <p> <i class="fa fa-map-marker" aria-hidden="true"> {{ hood.loc }}</i></p>
                            <a href=" {% url 'joinHood' hood.id %}" class="btn btn-sm btn-success">Join</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>
{% endblock %}