{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static%}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>New Post</title>
  {{form.media}}

</head>
{% block content %}

<body>
  <div class="container" style="padding-top:30px;">
    <form action="{%url 'new-post'%}" method="post" enctype="multipart/form-data">
      {%csrf_token%}

      {% bootstrap_form form%}
      <input type="submit" class="btn btn-success btn-lg" value="Post">
    </form>

    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/js/scripts.js"></script>
    {% bootstrap_javascript %}
    {% endblock %}

  </div>
</body>
<div style="background-color: white;   height: 100px; bottom: 0; width: 100%;">
</div>

</html>

{% endblock %}